<div id="<%= id %>" class="backlog panel panel-default col-md-2">
  <div class="panel-heading">
    <strong><%= state %></strong>
    <span class="pull-right"><%= story_points %> sp</span>
  </div>
  <div class="panel-body">
    <% stories.each do |story| %>
      <%= render "story", story: story %>
    <% end %>
  </div>
</div>