<span><strong><%= story.name %></strong></span>
<span class="story-id"><%= story.id %></span>
<% if(story.estimate > 0) %>
  <span class="story-points"><%= story.estimate %> sp</span>
<% end %>
<br>
<% if(story.owner_ids.length > 0) %>
  <% story.owners_image_url.each do |image_url|%>
    <%= image_tag image_url, size: size %>
  <% end %>
<% end %>