<% provide :title, "#{@team.capitalize} Stamp Card" %>
<div id="pairing"class="row">
  <% @members.each do |member| %>
    <div class="slot">
      <div class="image-container">
        <% if @stamps == 0 %>
          <%= image_tag person_image_path(member), class: "member" %>
        <% else %>
          <%= image_tag person_image_path(member), class: "member opaque" %>
          <% if @stamps == 1%>
            <%= image_tag team_stamp_image_path(@team),  class: "stamp stamp-full" %>
          <% else %>
            <% (@stamps<4?@stamps:4).times do |n| %>
              <%= image_tag team_stamp_image_path(@team),  class: "stamp stamp-#{n}" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>