<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Unstarted</div>
        <div class="panel-body">
          <% 5.times do %>
            <%= render "stories/story" %>
          <% end %>
        </div>
      </div>
      </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Started</div>
        <div class="panel-body">
          <% 5.times do %>
            <%= render "stories/story" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Finished</div>
        <div class="panel-body">
          <% 5.times do %>
            <%= render "stories/story" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">Delivered</div>
        <div class="panel-body">
          <% 5.times do %>
            <%= render "stories/story" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>