/* palette */
$feature-color:           #DFF0D8;
$feature-secondary-color: darkseagreen;
$chore-color:             #FFE082;
$bug-color:               pink;
$retro-color:             lightskyblue;
$impeded-color:           brown;

/* content */
.content { margin-top: 60px; }

.full-height { height: 100%; }

html, body, .container-fluid { @extend .full-height; }

.alert-notice { @extend .alert-success; }

.alert-alert { @extend .alert-danger;  }

@mixin flashing-background($from, $to) {
  background-color: $from;
  -webkit-animation-name: flashing; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;   /* Chrome, Safari, Opera */
  animation-name: flashing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  /* Chrome, Safari, Opera */
  @-webkit-keyframes flashing {
    from {background-color: $from;}
    to {background-color: $to;}
  }

  /* Standard syntax */
  @keyframes flashing {
    from {background-color: $from;}
    to {background-color: $to;}
  }
}