/* content */
.content { margin-top: 60px; }

.full-height { height: 100%; }

html, body, .container-fluid { @extend .full-height; }

.alert-notice { @extend .alert-success; }

.alert-alert { @extend .alert-danger;  }

.blink{
  -webkit-animation: blink 500ms infinite alternate;
  -moz-animation: blink 500ms infinite alternate;
  -o-animation: blink 500ms infinite alternate;
  animation: blink 500ms infinite alternate;
}

@-webkit-keyframes blink {
  from { opacity:1; }
  to { opacity:0.75; }
}

@-o-keyframes blink {
  from { opacity:1; }
  to { opacity:0.75; }
}

@-moz-keyframes blink {
  from { opacity:1; }
  to { opacity:0.75; }
}

@keyframes blink {
  from { opacity:1; }
  to { opacity:0.75; }
}