#sessions, #registrations {
  form {
    max-width: 300px;
    min-width: 300px;
    margin: auto;
    
    div { padding: 5px; }
    input.btn { width: 100%; }

    img {
      width:  100px;
      height: 100px;
      margin: auto;
      text-align: center;
      display: block;
    }
  }
}