#signin, #edit-profile {
  form {
    max-width: 20%;
    min-width: 20%;
    margin: auto;
    
    div { padding: 5px; }
    input.btn { width: 100%; }

    img {
      max-width: 30%;
      min-width: 30%;
      margin: auto;
      text-align:center;
      display:block;
    }
  }
}