<div class="backlog panel panel-default col-md-12">
  <div class="panel-heading"><strong><%= state %></strong> (<%= story_points %> sp)</div>
  <div class="panel-body">
    <% stories.each do |story| %>
      <%= render "story", story: story %>
    <% end %>
  </div>
</div>