<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <% unless @team.nil? %>
      <%= link_to "#{yield :title}", "", class: "navbar-brand", onclick: "history.go(0)" %>
    <% end %>
    <% @teams.each do |team| %>
      <%= link_to "#{team.capitalize} Board", "../board/#{team}", target: "_blank", class: "btn btn-default navbar-btn" %>
    <% end %>
    <% @teams.each do |team| %>
      <%= link_to "#{team.capitalize} Chart", "../chart/#{team}", target: "_blank", class: "btn btn-default navbar-btn" %>
    <% end %>
  </div>
</nav>